{% extends 'base.html' %}
{% load bibloteca_extra %}

{% block content %}
    {% include 'menu.html' %}
    {% if library %}
    <div class="row">
    {%for lib in library.all%}
        <div class="col-lg-4 col-xs-12 mt-5 w-50 mx-auto">
            <select class="slc form-control" data="{{lib.book.id}}" style="" >
                <option value="{{lib.book.id|getcurrentstatusid:user.id}}">{{lib.book.id|getcurrentstatusdescriptions:user.id}}</option>
            {%for statu in status%}
                <option class="{%if statu.id == lib.book.id|getcurrentstatusid:user.id %} d-none {%endif%}" value="{{statu.id}}">{{statu.descriptions}}</option>
            {%endfor%}
            </select>
            <div class="card">
                <img src="{{lib.book.image}}" class="card-img-top" alt="...">
                <div class="card-body row">
                    <div class="col-lg-8 col-xs-12 ">
                        <h4 class="card-tile text-center"> <strong>{{lib.book.title}} </strong></h4>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <button type="button" class="btn  btn-danger form-control" data-target="#book{{lib.book.id}}" data-toggle="modal"><i class="fa fa-trash-alt"></i></button>
                    </div>
                         <!-- Modal -->
                    <div class="modal fade" id="book{{lib.book.id}}" tabindex="-1" role="dialog" aria-labelledby="book{{lib.book.id}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar libro</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Esta seguro de eliminar el libro de la biblioteca?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a href="/book/delete/{{lib.book.id}}" type="button" class="btn btn-primary" >Si</a>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {%endfor%}
    </div>
    {% else %}
        <div class="text-center mt-5" >
            <h1 >NO TIENES LIBROS EN TU BIBLIOTECA!!!</h1>
            <a href="/books" class="btn btn-success" >AGREGAR LIBROS</a>
        </div>
    {% endif %}
{% endblock  %}