{% extends 'base.html' %}

{% block content %}
    <div class="row">
       <div class="col-12 mt-5">
        <form  id="formsearchbook" >
            <div class="input-group mb-3">
                <input id="booktitleseacrh" type="text" class="form-control" placeholder="TItulo del libro" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary" type="submit">
                        Buscar
                        <i class="fa fa-search"></i>
                </button>
                </div>
              </div>
        </form>
       </div>
       
       <div id="msgerror" class="col-12 d-none mt-5 text-center">
         <p class="">UP!!! LIBRO NO ENCONTADO</p>
       </div>

       <div  class="row mt-5" id="divbooks">
       
         {%if books is None %}
            <div>NO HAY LIBROS</div>
         {%else%}

          {%for book in books.all %}
          <a href="/book/{{book.id}}" class="col-lg-4 col-xs-12 mt-3" >
            <img id="imgBook" src="{{book.image}}" alt="" class="w-75 h-100">
          </a>
          {%endfor%}

          {%endif%}
       </div>
    </div>
{% endblock  %}