{% extends 'base.html' %}
{% load bibloteca_extra %}

{% block content %}
     <div class="row justify-content-center mt-5">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="{%if status_id == 1 %} nav-link active {%else %} nav-link{%endif%}" href="{%url 'bibloteca' 1 %}">Leidos</a>
            </li>
            <li class="nav-item">
              <a class="{%if status_id == 2%} nav-link active {%else %} nav-link{%endif%}" href="{%url 'bibloteca' 2 %}">leyendo</a>
            </li>
            <li class="nav-item">
              <a class="{%if status_id == 3%} nav-link active {%else %} nav-link{%endif%}" href="{%url 'bibloteca' 3 %}">por leer</a>
            </li>
        </ul>
    </div>
    {% if library %}
    <div class="row">
    {%for lib in library.all%}
    <div class="col-4 mt-5">
        <select class="slc form-control"  data="{{lib.book.id}}" style="width: 18rem;">
            <option value="{{status_id}}">{{status_id|getcurrentstatus}}</option>
        {%for statu in status%}
            <option class="{%if statu.id == status_id%} d-none {%endif%}" value="{{statu.id}}">{{statu.descriptions}}</option>
        {%endfor%}
        </select>

        <div class="card" style="width: 18rem;">
            <img src="{{lib.book.image}}" class="card-img-top" alt="...">
            <div class="card-body">
               <h4 class="card-tile text-center"> <strong>{{lib.book.title}} </strong></h4>
            </div>
        </div>
        <div class="progress" style="width: 18rem;">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{lib.book.id|getcurrentpage:user.id|percentage:lib.book.numPages}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            {{lib.book.id|getcurrentpage:user.id|percentage:lib.book.numPages}}%
            </div>
        </div>
       
       <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#modalUpdateProgress" data="{{lib.book.id}}" cantpages={{lib.book.numPages}} style="width: 18rem;">
           Actualizar progreso
       </button>
    </div>
    {%endfor%} 
    </div>
    {% else %}
        <div class="text-center" ><h1 class="">NO HAY LIBROS!!!</h1></div>
    {% endif %}

    <div class="modal fade" id="modalUpdateProgress" tabindex="-1" role="dialog" aria-labelledby="modalUpdateProgress" aria-hidden="true">
        <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title">Actualizar progreso</h5>
                     <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <form id="form">
                         <div class="form-group">
                             <label> Cantidad de paginas del libro</label>
                             <input id="cantPages" type="text" disabled class="form-control">
                             <label>Pagina actual</label>
                             <input  id="currentPage" type="text" class="form-control">
                         </div>
                         <div class="form-group">
                             <input type="submit" value="actualizar">
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
             </div>   
        </div>
    </div>

{% endblock  %}
