{% extends 'base.html' %}
{% load bibloteca_extra %}

{% block content %}
    {%for lib in library.all%}

    <select class="slc" data="{{lib.book.id}}">
        <option value="{{status_id}}">{{status_id|getcurrentstatus}}</option>
    {%for statu in status%}
        <option class="{%if statu.id == status_id%} d-none {%endif%}" value="{{statu.id}}">{{statu.descriptions}}</option>
    {%endfor%}
    </select>
   
    <div class="row mt-5">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{lib.book.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                   <h4 class="card-tile text-center"> <strong>{{lib.book.title}} </strong></h4>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{lib.book.currentPage|percentage:lib.book.numPages}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{lib.book.currentPage|percentage:lib.book.numPages}}%
                </div>
            </div>
           
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateProgress" data="{{lib.book.id}}" cantpages={{lib.book.numPages}}>
               Actualizar progreso
           </button>

        </div>
    </div>
    {%endfor%} 
    <div class="modal fade" id="modalUpdateProgress" tabindex="-1" role="dialog" aria-labelledby="modalUpdateProgress" aria-hidden="true">
        <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title">Actualizar progreso</h5>
                     <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <form id="form">
                         <div class="form-group">
                             <label> Cantidad de paginas del libro</label>
                             <input id="cantPages" type="text" disabled class="form-control">
                             <label>Pagina actual</label>
                             <input  id="currentPage" type="text" class="form-control">
                         </div>
                         <div class="form-group">
                             <input type="submit" value="actualizar">
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
             </div>   
        </div>
    </div>

{% endblock  %}
